@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);

  gap: 20px;

  border: 11px solid black;

  justify-items: center;
}
