@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 250px);

  gap: 20px;

  grid-template-areas:
    "h h h h"
    "m m . sb"
    "f f f f";
}

.header {
  grid-area: h;
}

.main {
  grid-area: m;
}

.sidebar {
  grid-area: sb;
}

.footer {
  grid-area: f;
}

@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "sb h h h"
      "sb m m m"
      "sb f f f ";
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns:
      "h h h"
      "f f f ";
  }
}
